@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    overflow-x: hidden !important;
    font-family: "Characters Demo", sans-serif;
    background-color: rgba(61, 141, 226, 0.338);
}
body::-webkit-scrollbar {
    width: 0.5em;
    background-color: #0F101E;
  }
  
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: #49e5c6;
    border-radius: 45px;
    outline: 0px solid slategrey;
  }

.textshad{
    text-shadow: -5px -5px 0 #e8e81a, 5px -5px 0 rgb(232, 232, 26), -5px 5px 0 rgb(232, 232, 26), 5px 5px 0 rgb(232, 232, 26), -5px 0 0 rgb(232, 232, 26), 5px 0 0 rgb(232, 232, 26), 0 -5px 0 rgb(232, 232, 26), 0 5px 0 rgb(232, 232, 26);
}
.textshad3{
    text-shadow: -5px -5px 0 rgb(201, 182, 11), 5px -5px 0 rgb(201, 182, 11), -5px 5px 0 rgb(201, 182, 11), 5px 5px 0 rgb(201, 182, 11), -5px 0 0 rgb(201, 182, 11), 5px 0 0 rgb(201, 182, 11), 0 -5px 0 rgb(201, 182, 11), 0 5px 0 rgb(201, 182, 11);
}
.textshad1{
    text-shadow: -12px -12px 0 rgb(232, 232, 26),12px -12px 0 rgb(232, 232, 26),-12px 12px 0 rgb(232, 232, 26),12px 12px 0 rgb(232, 232, 26),-12px 0 0 rgb(232, 232, 26),12px 0 0 rgb(232, 232, 26),0 -12px 0 rgb(232, 232, 26),0 12px 0 rgb(232, 232, 26);
}
.textshad2{
    text-shadow: -12px -12px 0 rgb(201, 182, 11),12px -12px 0 rgb(201, 182, 11),-12px 12px 0 rgb(201, 182, 11),12px 12px 0 rgb(201, 182, 11),-12px 0 0 rgb(201, 182, 11),12px 0 0 rgb(201, 182, 11),0 -12px 0 rgb(201, 182, 11),0 12px 0 rgb(201, 182, 11);
}